$primary: #cc4e10;
$primary-subtle: lighten($primary, 40%);
$secondary: #5f7e9f;
$succes: #6C757D;
$info: yellow;
$warning: red;
$danger: red;
$light: white;
$dark: black;

$accent: orange;

$theme-colors: (
    primary: $primary,
    primary-subtle: $primary-subtle,
    secondary:$secondary,
    success: $succes,
    info: $info,
    warning: $warning,
    light: $light,
    dark: $dark,
    accent:$accent,
);

@import "../node_modules/bootstrap/scss/bootstrap";

.app-bg- {
    background-color: $primary;
}

.app-layout {
    display: grid;
    grid-template-columns: 300px 1fr;
    margin-top: 69px;
    height: calc(100vh - 69px);
    @media (max-width: 992px) {
        grid-template-columns: 100%;
    }
}

.app-sidebar {
    background-color: #dfb099;
    color: $light;
}
.hover:hover{
    transform: scale(1,1.1);
}